/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/06/2019, 03:53:54 PM
    Author     : Selx
*/
#pane{
    -fx-background-image: url("Lecho-fondo.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
